@model CATECEV.FE.Models.ViewModels.CompanyWizardViewModel

<head>

 
</head>
<div class="row mb-3">
    <div class="col-md-12">
        <a asp-action="Index" asp-controller="Home" style="text-decoration: unset;">
            <span>&#8592; Back</span>
        </a>
    </div>
    <div class="col-md-6 p-3">
     <form asp-action="SubmitCompany" method="post">
    @Html.HiddenFor(model => model.Id)
    <h2>Company Info</h2>
    
    <div class="row">
        <div class="col-md-12">
            <label for="CompanyName">Company Name</label>
                    <input class="form-control" asp-for="CompanyName" type="text" disabled="@(Model.Id > 0)" />
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-12">
            <label for="CompanyRegistrationNumber">Company Reg. No.</label>
                    <input class="form-control" asp-for="CompanyRegistrationNumber" type="text" disabled="@(Model.Id > 0)" />
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-12">
            <label for="Mobile">Mobile</label>
            <input class="form-control" asp-for="Mobile" type="text" disabled="@(Model.Id > 0)" />
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-12">
            <label for="Email">Email</label>
                    <input class="form-control" asp-for="Email" type="text" disabled="@(Model.Id > 0)" />
        </div>
    </div>

            <div class="row mt-2">
        <div class="col-md-12">
            <label for="CountryId">Country</label>
            <select asp-items="Model.Countries" name="CountryId" id="CountryId" class="form-control searchable-select" asp-for="CountryId" required 
                    disabled="@(Model.Id > 0)">
            </select>
        </div>
    </div>

            <div class="row mt-2">
        <div class="col-md-12">
            <label for="CityId">City</label>
            <select asp-items="Model.Cities" name="CityId" id="CityId" class="form-control searchable-select" asp-for="CityId" required 
                    disabled="@(Model.Id > 0)">
                <option value="">Select City</option>
            </select>
        </div>
    </div>

            <div class="row mt-2">
                <div class="col-md-12">
                    <label for="TopUpAmount">Top Up Amount</label>
                    <input class="form-control" asp-for="TopUpAmount" type="number"  />
                </div>
            </div>

  
                <button class="btn btn-outline-primary mt-3" type="submit">Save Company</button>
</form>


    </div>
    @if (Model.Id > 0)
    {
        <div class="col-md-6 p-3">
            <form asp-action="SaveVehicle" method="post">
                @Html.Hidden("CompanyId", Model.Id)
                <h2>Vehicles Info</h2>
                <div class="row">
                    <div class="col-md-12">
                        <label for="TypeId">Type</label>
                        <select asp-items="Model.VehicleTypes" name="TypeId" id="TypeId" class="form-control searchable-select" required>
                        </select>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12">
                        <label for="PlateNumber">Plate Number</label>
                        <input type="text" name="PlateNumber" id="PlateNumber" class="form-control" required />
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12">
                        <label for="VINNumber">VIN Number</label>
                        <input type="text" name="VINNumber" id="VINNumber" class="form-control" />
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12">
                        <label for="MACAddress">MAC Address</label>
                        <input type="text" name="MACAddress" id="MACAddress" class="form-control" />
                    </div>
                </div>
                <button class="btn btn-outline-primary mt-3" type="submit">Add Vehicle</button>
            </form>
        </div>

        @if (Model.Vehicles.IsNotNullOrEmpty())
        {
            <div class="col-12 mt-5">
                <div class="p-2" style="background-color: #f5f7f9;border-radius: 5px;">
                    <h2 class="text-center">Vehicles</h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Plate Number</th>
                                <th scope="col">VIN Number</th>
                                <th scope="col">MAC Address</th>
                                <th scope="col">Type</th>
                                <th scope="col">Status</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Vehicles)
                            {
                                <tr>
                                    <td>@item.PlateNumber</td>
                                    <td>@item.VINNumber</td>
                                    <td>@item.MACAddress</td>
                                    <td>@item.Type</td>
                                    <td>
                                        @if (item.IsActive)
                                        {
                                            <span>Active</span>
                                        }
                                        else
                                        {
                                            <span>Inactive</span>
                                        }
                                    </td>
                                    <td scope="col">
                                        @if (item.IsActive)
                                        {
                                            <a asp-action="AddUserToVehicle" asp-controller="Home" asp-route-VehicleId="@item.Id" asp-route-CompanyId="@item.CompanyId">
                                                <span>Users</span>
                                            </a>
                                        }
                                    </td>
                                    <td>
                                        <a asp-action="AciveInactiveVehicle" asp-controller="Home"
                                           asp-route-VehicleId="@item.Id"
                                           asp-route-CompanyId="@item.CompanyId"
                                           asp-route-isActive="@(!item.IsActive)"
                                           onclick="return confirm('Are you sure you want to proceed?');">
                                            @if (item.IsActive)
                                            {
                                                <span>Inactive</span>
                                            }
                                            else
                                            {
                                                <span>Active</span>
                                            }
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    }
</div>

<script>

    $(document).ready(function() {
        $('.searchable-select').select2({
            placeholder: "Select a type", // Optional placeholder text
            allowClear: true // Optional clear button
        });

           // Listen for the country selection change
            $('#CountryId').change(function() {
                var countryId = $(this).val();

                if (countryId) {
                    // Make an AJAX request to get cities based on the selected country
                    $.ajax({
                        url: '../City/GetCitiesByCountry', // The API endpoint to get cities by country
                        type: 'GET',
                        data: { countryId: countryId },
                        success: function(data) {
                            // Clear the existing options
                            $('#CityId').empty();
                            $('#CityId').append('<option value="">Select City</option>'); // Default option

                            // Loop through cities and add them as options to the City dropdown
                            $.each(data, function(index, city) {
                                $('#CityId').append('<option value="' + city.id + '">' + city.name + '</option>');
                            });
                        },
                        error: function() {
                            alert('Error retrieving cities.');
                        }
                    });
                } else {
                    // If no country is selected, clear the City dropdown
                    $('#CityId').empty();
                    $('#CityId').append('<option value="">Select City</option>');
                }
            });
    });

</script>

                                