@model VehicleViewModel

<div class="row mb-3">
    <div class="col-md-12">
        <a asp-action="Manage" asp-controller="Home" asp-route-CompanyId="@Model.CompanyId" style="text-decoration: unset;">
            <span>&#8592; Back</span>
        </a>
    </div>
    <div class="col-md-6 p-3">
        <form asp-action="SaveVehicle" method="post">
            @Html.Hidden("Id", Model.Id)
            @Html.Hidden("CompanyId", Model.CompanyId)
            <h2>Vehicle Info</h2>
            <div class="row">
                <div class="col-md-12">
                    <label for="TypeId">Type</label>
                    <select asp-items="Model.VehicleTypes" asp-for="TypeId" class="form-control" required></select>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-12">
                    <label for="PlateNumber">Plate Number</label>
                    <input asp-for="PlateNumber" class="form-control" />
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-12">
                    <label for="VINNumber">VIN Number</label>
                    <input asp-for="VINNumber" class="form-control" />
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-12">
                    <label for="MACAddress">MAC Address</label>
                    <input asp-for="MACAddress" class="form-control" />
                </div>
            </div>
            <button class="btn btn-success mt-3" type="submit">Save Vehicle</button>
        </form>
    </div>

    <div class="col-md-6 p-3">
        <form asp-action="SaveUser" method="post">
            @Html.Hidden("VehicleId", Model.Id)
            @Html.Hidden("Vehicle.CompanyId", Model.CompanyId)
            <h2>User Info</h2>
            <div class="row">
                <div class="col-md-12">
                    <label for="ArabicName">Arabic Name</label>
                    <input type="text" name="ArabicName" id="ArabicName" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label for="EnglishName">English Name</label>
                    <input type="text" name="EnglishName" id="EnglishName" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label for="Mobile">Mobile</label>
                    <input type="text" name="Mobile" id="Mobile" class="form-control" />
                </div>
            </div>
            <button class="btn btn-success mt-3" type="submit">Add User</button>
        </form>
    </div>

    @if (Model.Users.IsNotNullOrEmpty())
    {
        <div class="col-12 mt-5">
            <div class="p-2" style="background-color: #f5f7f9;border-radius: 5px;">
                <h2 class="text-center">Users</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Arabic Name</th>
                            <th scope="col">English Name</th>
                            <th scope="col">Mobile</th>
                            <th scope="col">Status</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Users)
                        {
                            <tr>
                                <td>@item.ArabicName</td>
                                <td>@item.EnglishName</td>
                                <td>@item.Mobile</td>
                                <td>
                                    @if (item.IsActive)
                                    {
                                        <span>Active</span>
                                    }
                                    else
                                    {
                                        <span>Inactive</span>
                                    }
                                </td>
                                <td>
                                    <a asp-action="AciveInactiveUser" asp-controller="Home" 
                                    asp-route-VehicleId="@item.VehicleId" 
                                    asp-route-CompanyId="@Model.CompanyId" 
                                    asp-route-userId="@item.Id" 
                                    asp-route-isActive="@(!item.IsActive)"
                                       onclick="return confirm('Are you sure you want to proceed?');">
                                        @if (item.IsActive)
                                        {
                                            <span>Inactive</span>
                                        }
                                        else
                                        {
                                            <span>Active</span>
                                        }
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>