@using CATECEV.FE.Models.ViewModels
@model List<PartnerListItem>


@{
    ViewData["Title"] = "Partners";
}
<style>
    table {
        font-size: 11px;
    }

        table td, table th {
            padding: 4px 6px !important;
            line-height: 1.2 !important;
            vertical-align: middle;
        }
</style>
<h2>Partner List</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Balance Amount</th>
            <th>Last Calculation Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.BalanceAmount.ToString()</td>
                <td>
                    @(item.LastCalculationBalanceDate == DateTime.MinValue
                        ? ""
                        : item.LastCalculationBalanceDate.ToString("yyyy-MM-dd"))
                </td>
                <td>
                    <a asp-action="Manage" asp-route-id="@item.EncryptedId"
                       class="btn btn-primary"
                       style="padding: 2px 6px; font-size: 8px; line-height: 1.2; color:white">
                        Manage
                    </a>

                    <a asp-controller="Home" asp-action="ViewInfo" asp-route-id="@item.EncryptedId"
                       class="btn btn-outline-info ms-1"
                       style="padding: 2px 6px; font-size: 8px; line-height: 1.2;">
                        View
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>